/*******************Tag Selectors*************************/
body{
    margin: 0;
    text-align: center;
    color: #40514E;
}

h1{
    font-size: 5.625rem;
    line-height: 2;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #46458C;
}

h2{
    font-size: 2.5rem;
    font-family: 'Yeseva One', sans-serif;
    color: #606C5D;
}

a{
    color: #11999E;
    font-family: 'Yeseva One', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

p{
    line-height: 2;
}

h3{
    font-family: 'Josefin Sans', sans-serif;
    color: #46458C;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;
}
/*******************Class Selectors*************************/
.top-container{
    background-color: #E1ECC8;
    padding-top: 150px;
    position: relative;
}

.middle-container{
    margin: 100px 0;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.pro{
    text-decoration: underline;
}

.top-cloud{
    position: absolute;
    right: 400px;
    top: 100px;
}

.bottom-cloud{
    position: absolute;
    left: 400px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.computer-png{
    width: 15%;
    float: left;
    margin-left: 150px;
    margin-right: 30px;
}

.chilli-png{
    width: 15%;
    float: right;
    margin-right: 50px;
    margin-left: 30px;
}

.chilli-text{
    margin-left: 150px;
}

.niha{
    height: 300px;
    width: 300px;
}

.btn {
    background: #abbac4;
    background-image: -webkit-linear-gradient(top, #abbac4, #2980b9);
    background-image: -moz-linear-gradient(top, #abbac4, #2980b9);
    background-image: -ms-linear-gradient(top, #abbac4, #2980b9);
    background-image: -o-linear-gradient(top, #abbac4, #2980b9);
    background-image: linear-gradient(to bottom, #abbac4, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #587587;
    background-image: -webkit-linear-gradient(top, #587587, #3498db);
    background-image: -moz-linear-gradient(top, #587587, #3498db);
    background-image: -ms-linear-gradient(top, #587587, #3498db);
    background-image: -o-linear-gradient(top, #587587, #3498db);
    background-image: linear-gradient(to bottom, #587587, #3498db);
    text-decoration: none;
}

.copyright-message{
    color: #EAF6F6;
}